#cuentaDiv{
    background-color: #f3f3f3;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#MagiButton{
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Relleno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer;
}


#AlertaFondos{
    display: none;
    padding: 20px;
    background-color: #f44336;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 250px;

}